body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* input[type="range"] {
  appearance: slider-vertical;
} */

.active_Music {
  background-color: aqua;
}

input[type="range"] {
  height: 5px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #3b7677;
  transition: #3b7677 0.2s ease;
  cursor: pointer;
}

.flex {
  width: 100vw;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
