@tailwind base;
@tailwind components;
@tailwind utilities;
/* input[type="range"] {
  appearance: slider-vertical;
} */

.active_Music {
  background-color: aqua;
}

.over_flow_hide::-webkit-scrollbar {
  display: none; /* chrome and opera */
}
.over_flow_hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* body {
  overflow: hidden;
} */

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-container {
  /* Adjust the width as needed */
  white-space: nowrap;
}

.animate-scrolling-text {
  width: 100%;
  animation: scroll 30s linear infinite; /* Adjust the duration as needed */
}
